---
import LanguageSelector from "@components/languageselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import ThemeSelector from "@components/themeselector.astro";
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<footer class="pb-12 pt-28 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<!-- DECOMMENT HERE IF YOU WANT YOUR LOGO IN THE FOOTER -->
		<!-- <a href={localizePath("/")} aria-label="logo" class="group flex items-center justify-center space-x-2">
			<Image class="inline-block" src={logo} alt="Astros" width={30} height={30} />
			<span class="text-semibold duration-300 text-gray-400 group-hover:text-gray-900 dark:text-white dark:group-hover:text-gray-100">
				Astros
			</span>
		</a> -->
		<ul role="list" class="flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 dark:text-white sm:gap-8">
			<li role="listitem">
				<a href={localizePath("/")} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">Home</a>
			</li>
			{
				menuitems.map(
					(item) =>
						item &&
						item.path && (
							<li role="listitem">
								<a href={localizePath(item.path)} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">
									{t(item.title)}
								</a>
							</li>
						)
				)
			}
		</ul>
		<div class="mt-4 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © Your Company 2023 - Present. All rights reserved</span>
		</div>
	</div>
</footer>
